/* Create gagastick elements */
.create-page .pane-headline, .personalize-page .pane-headline {
	background: url("../images/step.png") no-repeat left top transparent;
	margin-right: 19px;
}

.create-page .step-title {
	padding: 19px 5px 8px 15px;
	font-size: 24px;
	font-weight: normal;
}

.step-indent {
	margin-right: 17px;
}

.step-content-wrp {
	background: #fff;
	width: 551px;
	height: 266px;
	float: left;
	border: solid 1px #ccc;
	position: relative;
}

.step-content {
	padding: 12px 4px 14px;
}

.step-content-inner {
	/*padding: 9px 10px 0 19px;*/
}
 
.create-page .pane-rounding, .personalize-page .pane-rounding {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	-o-border-radius: 10px;
}

.step-wrp {
	background: url("../images/step.png") no-repeat -76px top;
	width: 76px;
	height: 176px;
	padding-top: 90px;
	float: left;
	border: solid 1px #999;
	text-align: center;
}

.step-wrp .number-step, .step-wrp .title-step {
	display: block;
	color: #fff;
}

.step-wrp .number-step {
	font-size: 72px;
	line-height: 72px;
	font-weight: bold;
}

.step-wrp .title-step {
	font-size: 18px;
}

.step-content-wrp .recent-create-img {
	width: 544px;
	height: 152px;
	margin-bottom: 6px;
}

.step-content-wrp .recent-create-img img {
	display: block;
}

.create-page .default-button {
	margin-right: 7px;
}

.editor-img-container {
	background: url("../images/transparency.png") left top repeat;
	width: 218px;
	height: 218px;
	margin-top: 11px;
	margin-left: 19px;
	border: solid 1px #666;
	float: left;
	position: relative;
}

.editor-img-indent {
	margin-right: 26px;
}

.editor-img-inner {
	width: 218px;
	height: 218px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.create-action-container {
	overflow: hidden;
	padding-top: 11px;
}

.create-action-description {
	display: block;
	padding-bottom: 11px;
	font-size: 16px;	
}

.terms {
	margin: 0 0 0 1px;
	padding: 0;
	list-style: disc inside;
}

.terms li {
	font-size: 12px;
	line-height: 16px;
	color: #666;
}

.uploaded {
	margin-top: 20px;
	color: #666;
	font-size: 13px;
}

.uploaded .image-size {
	display: block;
	padding-left: 30px;
}

.browse {
    width: 180px;
    margin-top: 23px;
    position: relative;
	left: 90px;   
}

.browse .file-button {
    width: 86px;
    overflow: hidden;
    position: absolute;
    left: -90px;
    top: 0;
}

.browse .file-button:hover .default-button {
	background-position: 0 -26px;
	cursor: pointer;
}

.browse .input-file {
    height: 26px;
    opacity: 0;
    position: absolute;
    left: -46px;
    top: 0;
    font-size: 18px;
    cursor: pointer;
}

.browse .input-fake {
	background: #fff;
	width: 180px;
	height: 20px;
	border: 0;
	font-size: 13px;
	color: #666;
}

.browse .image-size {
	display: block;
	margin: -4px 0 0;
	font-size: 13px;
	color: #666;	
}

.image-rotate {
	margin-top: 18px;
	font-size: 0;
}

.act-rotate .text, .noact-rotate .text {
	display: inline-block;
	padding-left: 5px;
	vertical-align: middle;
	font-size: 14px;
	line-height: 19px;
}

.act-rotate .text {
	color: #f36b21;
	cursor: pointer;
}

.act-rotate .text:hover {
	color: #F79422;
}

.noact-rotate .text {
	color: #999;
}

.step-content-wrp .green-button {
	position: absolute;
	bottom: 12px;
	right: 12px;
}

.zooming-container {
	width: 84px;
	height: 241px;
	float: left;
	margin: 0 10px 0 5px;
	position: relative;
}

.zooming-container .zoomin {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 11px;
	/*position: absolute;
	top: 0;
	left: 0;*/
}

.zooming-container .zoomout {
	height: 12px;
	position: absolute;
	bottom: 0;
	left: 7px;
}

.zooming-container .control-wrp {
	background: url(../images/scale.png) center 0 no-repeat;
	width: 4px;
	height: 176px;
	position: relative;
	margin: auto;
}

.zooming-container .scale, .zooming-container .ui-slider-range {
	background: url(../images/scale-zoom.png) center 0 no-repeat;
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 1;
}

.zooming-container .indicator, .zooming-container .ui-slider-handle {
	background: url(../images/indicator.png) left top no-repeat;
	width: 52px;
	height: 32px;
	margin-bottom: -15px;
	cursor: pointer;
	outline: none;
	position: absolute;
	left: -17px;	
	z-index: 10;
}

.upload-img-container {
	display: inline-block;
	padding: 7px 11px 11px 7px;
	margin: 0 11px 0 10px;
	position: relative;
}

/* .upload-img-container img {
	display: block;
	position: relative;
	z-index: 1;
}

.upload-img-container .upload-img-shadow {
	position: absolute;
	left: 0;
	top: 0; 
	z-index: 10;
}

.landscape-design .upload-img-shadow {
	background: url(../images/img-shadow-hor.png) left top no-repeat;
	width: 284px;
	height: 94px;
}

.portrait-design .upload-img-shadow {
	background: url(../images/img-shadow-vert.png) left top no-repeat;
	width: 94px;
	height: 284px;
} */

.landscape-position .step-content-top {
	overflow: hidden;
}

.portrait-position  .step-content-top {
	overflow: inherit;
}

.landscape-position .agreements {
	width: 300px;
	padding: 1px 0 0 11px;
}

.portrait-position .agreements {
	width: 320px;
	padding: 0;
}

.final-action {
	width: 156px;
	height: 90px;
	position: absolute;
	right: 10px;
	bottom: 12px;
}

.final-action a {
	display: block;
	margin-bottom: 6px;
}

.area-indent {
	margin: 25px 0;
}
/* Create gagastick elements */



